In [28]:
import pandas as pd
import time
import requests
import json
from splinter import Browser
from bs4 import BeautifulSoup
import urllib.request

In [29]:
path = r'C:\Users\rejan\Downloads\chromedriver_win32\chromedriver.exe'
path

'C:\\Users\\rejan\\Downloads\\chromedriver_win32\\chromedriver.exe'

In [30]:
browser = Browser("chrome", executable_path=path, headless = False)

In [31]:
# NASA Mars News
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [32]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [33]:
news_title = soup.find('div', class_="content_title").text
news_p = soup.find('div', class_="article_teaser_body").text

print(f"news_title: {news_title}")
print(f"news_p: {news_p}")

news_title: Mars Now
news_p: During this next phase, the program will mature critical technologies and make critical design decisions as well as assess industry partnerships.

In [34]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [35]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [36]:
image_name= soup.find('article', class_='carousel_item')['alt'] 
print(image_name)

Dance of Saturn's Auroras

In [37]:
base_url = 'https://www.jpl.nasa.gov'
img_url = soup.find(attrs={'data-title':image_name})["data-fancybox-href"] 
featured_image_url = base_url + img_url
print(f"featured_image_url:{featured_image_url}")

featured_image_url:https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA17900_ip.jpg

In [38]:
# Mars Facts
url = 'https://space-facts.com/mars/'

In [39]:
tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [40]:
mars_df = tables[1]
mars_df

  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:     -87 to -5 °C      -88 to 58°C

In [41]:
mars_df.columns = ['Mars - Earth Comparison', 'Mars','Earth']
mars_df

  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:     -87 to -5 °C      -88 to 58°C

In [42]:
html_table = mars_df.to_html(header=None,index=False)
html_table.replace('\n', '')
html_table

'<table border="1" class="dataframe">\n  <tbody>\n    <tr>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [43]:
mars_df.to_html('table.html')

In [44]:
!start table.html

In [45]:
# Mars Hemispheres 
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

In [46]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [47]:
product = soup.find('div', {'class': 'collapsible results'})
if product is not None:
    table = product.find_all('item')

In [48]:
product = soup.find('div', class_="collapsible results")
hemisphere_items = product.find_all('div', class_="item")
hemisphere_img_urls = []

for item in hemisphere_items:
    try:
        hemisphere_title  = item.find('h3').text
        hemisphere_href = item.find('a')['href']
        hemisphere_url = "https://astrogeology.usgs.gov" + hemisphere_href
        hemisphere_page = requests.get(hemisphere_url).text
        soup = BeautifulSoup(hemisphere_page, 'html.parser')
        hemisphere_page_img = soup.select('#wide-image > div > ul > li:nth-child(1) > a')
        hemisphere_img_url =  hemisphere_page_img[0]['href']
        hemisphere_img_dict = { "image title": hemisphere_title, "image url": hemisphere_img_url }
        hemisphere_img_urls.append(hemisphere_img_dict)

    except Exception as e:
        print(e)

hemisphere_img_urls

[{'image title': 'Cerberus Hemisphere Enhanced',
  'image url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'image title': 'Schiaparelli Hemisphere Enhanced',
  'image url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'image title': 'Syrtis Major Hemisphere Enhanced',
  'image url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'image title': 'Valles Marineris Hemisphere Enhanced',
  'image url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]